<p id="notice"><%= notice %></p>

<p>
  <strong>Home name:</strong>
  <%= @home.home_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @home.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Old:</strong>
  <%= @home.old %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @home.comment %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
